<div class="container" name="formulario"
	<div>
		<form class="form-group" name="formulario">
			<h4>{{queueTxt.titulo}}</h4>
			<div class="panel panel-default" style="width: 700px">
				<div class="panel-body">
					
					<div class="row" style="width:700px">
						
						<div class="col-md-4">
							<label>{{queueTxt.queueLocation}}</label> 
							<input type="text" style="width: 150px" id="queueLocation" 
									class="form-control" 
								 	ng-model="adminQueueGeneral.queueLocation" disabled> 
						</div>

						<div class="col-md-4">
							<label>{{queueTxt.sleepTime}}</label> 
							<input type="text" style="width: 150px" id="sleepTime" 
									class="form-control"
								 	ng-model="adminQueueGeneral.sleepTime" disabled> 
						</div>

						<div class="col-md-4">
							<label>{{queueTxt.refreshTime}}</label>
							<input type="text" style="width: 150px" id="refreshTime" 
									class="form-control"
								 	ng-model="adminQueueGeneral.refreshTime" disabled> 
						</div>

					</div>

					<hr width="100%" size="10"/>

					<span  class="glyphicon" style="color: red;"	
							ng-show="!formulario.$pristine && 
							formulario.adminQueueId.$error.required">*</span>
					<label>{{queueTxt.adminQueueId}}</label> 
					<input type="text" style="width: 150px" name="adminQueueId" 
							class="form-control" placeholder="Codigo ..."
						 	ng-model="selectQueue.adminQueueId" required> 
				
					<span  class="glyphicon" style="color: red;"	
							ng-show="!formulario.$pristine && 
							formulario.workerThreadsCount.$error.required">*</span>
					<label>{{queueTxt.workerThreadsCount}}</label>
					<input type="text" style="width: 300px" name="workerThreadsCount" 
							class="form-control"
						 	ng-model="selectQueue.workerThreadsCount" required> 
					
					<span  class="glyphicon" style="color: red;"	
							ng-show="!formulario.$pristine && 
							formulario.messageTypeId.$error.required">*</span>
					<label>{{queueTxt.messageTypeId}}</label>
					<input type="text" style="width: 150px" name="messageTypeId" 
							class="form-control"  
							ng-model="selectQueue.messageType.messageTypeId" required> 

					<span  class="glyphicon" style="color: red;"	
							ng-show="!formulario.$pristine && 
							formulario.messageTypeDesc.$error.required">*</span>		
					<label>{{queueTxt.messageTypeDesc}}</label>
					<input type="text" style="width: 300px" name="messageTypeDesc" 
							class="form-control"  
							ng-model="selectQueue.messageType.messageTypeDesc" required>
					
					<hr width="100%" size="10"/>

					<!--Lista de los formatos soportados para las colas-->
	                <label>{{queueTxt.supportedMessageFormats}}</label>
	                <div class="checkbox" style="width: 700px">
	                	<label ng-repeat="myMessage in listMessageFormat" style="width: 100px"
	                			ng-model="selectQueue.messageType.supportedMessageFormats.messageFormatId" >
					  	<input 
						    type="checkbox"
						    name="message"
						    value="{{myMessage.messageFormatId}}"
						    ng-checked="selectionMessage.indexOf(myMessage.messageFormatId) > -1"
						    ng-click="getSelectionMessage(myMessage.messageFormatId)"> {{myMessage.messageFormatId}}
						</label>
	                </div>
	                
					<hr width="100%" size="14"/>

					<button class="btn btn-primary glyphicon glyphicon-file" ng-click="nuevo()">
					</button>
					<button class="btn btn-primary glyphicon glyphicon-floppy-disk" 
							ng-click="grabar(selectQueue)" ng-disabled="!formulario.$valid">
					</button>
					<button class="btn btn-primary glyphicon glyphicon-refresh" ng-click="refrescar()">
					</button>
				</div>
			</div>

			<div class="row" ng-hide="hideAlert">
				<div class="col-md-7">
					<div class="alert alert-{{responseRestTag}}">
					  <strong>Respuesta :</strong> {{responseRest}}
					</div>
				</div>
			</div>

			<table class="table" cellspacing="0" style="width: 650px">
			    <thead>
			     	<tr>
				        <th style="width: 120px">{{queueTxt.adminQueueIdTbl}}</th>
				        <th style="width: 70px">{{queueTxt.workerThreadsCountTbl}}</th>
				        <th style="width: 120px">{{queueTxt.messageTypeIdTbl}}</th>
				        <th style="width: 240px">{{queueTxt.messageTypeDescTbl}}</th>
				        <th style="width: 100px">{{queueTxt.opcionActionTbl}}</th>
			      	</tr>
			    </thead>
			    <tbody>
			      	<tr class="success" ng-repeat="valueRow in adminQueueGeneral.adminQueues">
				        <td>{{valueRow.adminQueueId}}</td>
				        <td>{{valueRow.workerThreadsCount}}</td>
				        <td>{{valueRow.messageType.messageTypeId}}</td>
				        <td>{{valueRow.messageType.messageTypeDesc}}</td>
				        <td >
				        	<button class="btn btn-success btn-xs glyphicon glyphicon-pencil" 
				        			ng-click="editar(valueRow)"></button>
				        	<button class="btn btn-danger btn-xs glyphicon glyphicon-trash" 
				        			ng-click="quitar(valueRow.adminQueueId)"></button>
				        </td>
			      	</tr>
			    </tbody>
			</table>
		</form>
	</div>
</div>
