<div class="container">
	<div>
		<form class="form-group">
			<h4>{{messageFormatTexto.titulo}}</h4>
			<div class="panel panel-default" style="width: 650px">
				<div class="panel-body">
					<label>{{messageFormatTexto.messageFormatId}}</label> 
					<input type="text" id="messageFormatId" class="form-control" style="width: 150px" 
						ng-model="selectMessageFormat.messageFormatId" required autofocus> 
					<label>{{messageFormatTexto.messageFormatDesc}}</label>
					<input type="text" id="messageFormatDesc" class="form-control" style="width: 300px" required autofocus
						ng-model="selectMessageFormat.messageFormatDesc" > 
					<label>{{messageFormatTexto.transformerConfigFile}}</label>
					<input type="text" id="transformerConfigFile" class="form-control" style="width: 300px"
						ng-model="selectMessageFormat.transformerConfigFile" required autofocus> 
					<label>{{messageFormatTexto.routerConfigFile}}</label>
					<input type="text" id="routerConfigFile" class="form-control" style="width: 300px"
						ng-model="selectMessageFormat.routerConfigFile" required autofocus> 
					<label>{{messageFormatTexto.transformerStruct}}</label>

					<select class="form-control" style="width: 150px" id="transformador" ng-model="selectMessageFormat.transformerStruct">
						<option ng-repeat="valueType in listTypeFormater">{{valueType.transformerStruct}}</option>
					</select> <br/>
					<button class="btn btn-primary glyphicon glyphicon-file" ng-click="nuevo()"></button>
					<button class="btn btn-primary glyphicon glyphicon-floppy-disk" ng-click="grabar(selectMessageFormat)"></button>
					<button class="btn btn-primary glyphicon glyphicon-refresh" ng-click="refrescar()"></button>
				</div>
			</div>
			
			<div class="row" ng-hide="hideAlert">
				<div class="col-md-8">
					<div class="alert alert-{{responseRestTag}}">
					  <strong>Respuesta :</strong> {{responseRest}}
					</div>
				</div>
			</div>

			<table class="table" cellspacing="0" style="width: 650px">
			    <thead>
			     	<tr>
				        <th style="width: 100px">{{tablaTexto.messageFormatId}}</th>
				        <th style="width: 300px">{{tablaTexto.messageFormatDesc}}</th>
				        <th style="width: 150px">{{tablaTexto.transformerConfigFile}}</th>
				        <th style="width: 150px">{{tablaTexto.routerConfigFile}}</th>
				        <th style="width: 100px">{{tablaTexto.opcionAction}}</th>
			      	</tr>
			    </thead>
			    <tbody>
			      	<tr class="success" ng-repeat="valueRow in listMessageFormat" ng-model="changeFila">
				        <td>{{valueRow.messageFormatId}}</td>
				        <td>{{valueRow.messageFormatDesc | uppercase}}</td>
				        <td>{{valueRow.transformerConfigFile}}</td>
				        <td>{{valueRow.routerConfigFile}}</td>
				        <td >
				        	<button class="btn btn-success btn-xs glyphicon glyphicon-pencil" 
				        			ng-click="editar(valueRow.messageFormatId)"></button>
				        	<button class="btn btn-danger btn-xs glyphicon glyphicon-trash" 
				        			ng-click="quitar(valueRow.messageFormatId)"></button>
				        </td>
			      	</tr>
			    </tbody>
			</table>
		</form>
	</div>
</div>
