<div class="container">
	<div>
		<form class="form-group" name="formulario">
			<h4>{{routeTexto.titulo}}</h4>
			<div class="panel panel-default" style="width: 500px">
				<div class="panel-body">

					<span  class="glyphicon" style="color: red;"	
							ng-show="!formulario.$pristine && 
							formulario.routeId.$error.required">*</span>
					<label>{{routeTexto.routeId}}</label> 
					<input type="text" style="width: 150px"  name="routeId" 
							class="form-control" placeholder="Codigo ..."
							ng-model="selectRoute.routeId" required> 

					<span  class="glyphicon" style="color: red;"	
							ng-show="!formulario.$pristine && 
							formulario.routeDesc.$error.required">*</span>
					<label>{{routeTexto.routeDesc}}</label>
					<input type="text" style="width: 300px" name="routeDesc" 
							class="form-control"  
							ng-model="selectRoute.routeDesc" required>

					<span  class="glyphicon" style="color: red;"	
							ng-show="!formulario.$pristine && 
							formulario.balancerId.$error.required">*</span>
	                <label>{{routeTexto.balancerId}}</label>
	                <select class="form-control" style="width: 160px" name="balancerId" 
	                		ng-model="selectRoute.balancerId" required>
					    <option ng-repeat="myFormat in listBalancer" value="{{myFormat.id}}">
					    	{{myFormat.id}}
					    </option>
		            </select>
						
					<span  class="glyphicon" style="color: red;"	
							ng-show="!formulario.$pristine && 
							formulario.status.$error.required">*</span>
					<label>{{routeTexto.status}}</label>
	                <select class="form-control" style="width: 160px" name="status" 
	                		ng-model="selectRoute.status" required>
					    <option ng-repeat="myStatus in constantStatus" value="{{myStatus.status}}">
					    	{{myStatus.status}}
					    </option>
		            </select>
					
					<hr width="100%" size="14"/>
					
					<button class="btn btn-primary glyphicon glyphicon-file" ng-click="nuevo()">
					</button>
					<button class="btn btn-primary glyphicon glyphicon-floppy-disk" 
							ng-click="grabar(selectRoute)" ng-disabled="!formulario.$valid">
					</button>
					<button class="btn btn-primary glyphicon glyphicon-refresh" ng-click="refrescar()">
					</button>
				</div>
			</div>

			<div class="row" ng-hide="hideAlert">
				<div class="col-md-5">
					<div class="alert alert-{{responseRestTag}}">
					  <strong>Respuesta :</strong> {{responseRest}}
					</div>
				</div>
			</div>

			<table class="table" cellspacing="0" style="width: 600px">
			    <thead>
			     	<tr>
				        <th style="width: 150px">{{routeTexto.routeIdTbl}}</th>
				        <th style="width: 150px">{{routeTexto.routeDescTbl}}</th>
				        <th style="width: 100px">{{routeTexto.balancerIdTbl}}</th>
				        <th style="width: 100px">{{routeTexto.statusTbl}}</th>
				        <th style="width: 100px">{{routeTexto.opcionActionTbl}}</th>
			      	</tr>
			    </thead>
			    <tbody>
			      	<tr class="success" ng-repeat="valueRow in listRoute">
				        <td>{{valueRow.routeId}}</td>
				        <td>{{valueRow.routeDesc}}</td>
				        <td>{{valueRow.balancerId}}</td>
				        <td>{{valueRow.status}}</td>
				        <td >
				        	<button class="btn btn-success btn-xs glyphicon glyphicon-pencil" 
				        			ng-click="editar(valueRow)"></button>
				        	<button class="btn btn-danger btn-xs glyphicon glyphicon-trash" 
				        			ng-click="quitar(valueRow.routeId)"></button>
				        </td>
			      	</tr>
			    </tbody>
			</table>
		</form>
	</div>
</div>
