<div class="container" name="formulario"
	<div>
		<form class="form-group" name="formulario">
			<h4>{{clientTexto.titulo}}</h4>
			<div class="panel panel-default" style="width: 800px">
				<div class="panel-body">
					
					<div class="row" style="width:800px">

						<div class="col-md-3">
							<span  class="glyphicon" style="color: red;"	
									ng-show="!formulario.$pristine && 
									formulario.sixadcClientId.$error.required">*</span>
							<label>{{clientTexto.sixadcClientId}}</label> 
							<input type="text" style="width: 160px" name="sixadcClientId" 
									class="form-control" placeholder="Codigo ..."
								 	ng-model="selectClient.sixadcClientId" required> 
						</div>

						<div class="col-md-9">
							<span  class="glyphicon" style="color: red;"	
									ng-show="!formulario.$pristine && 
									formulario.sixadcClientDesc.$error.required">*</span>
							<label>{{clientTexto.sixadcClientDesc}}</label>
							<input type="text" style="width: 550px" name="sixadcClientDesc" 
									class="form-control"
								 	ng-model="selectClient.sixadcClientDesc" required> 
						</div>

					</div>

					<hr width="100%" size="10"/>
					
					<div class="row" style="width:790px">
						
						<div class="col-md-3">
							<label>{{clientTexto.atrName}}</label>
							<input type="text" class="form-control" ng-model="valAddName" name="nombre"
									style="width: 160px" placeholder="Ingrese nombre..."/>
						</div>

						<div class="col-md-3">
							<label>{{clientTexto.atrValor}}</label>
							<input type="text" class="form-control" ng-model="valAddValor" name="valor"
									style="width: 160px" my-enter="createOptionAtrib()" 
									placeholder="valor... Enter!!"/>
						</div>

						<div class="col-md-6"/>

			        </div>

					<div class="checkbox" style="width: 790px">
	                	<label ng-repeat="valAtributo in selectClient.atributos.atributos" style="width: 195px">
						    <span class="glyphicon glyphicon-remove-circle" style="color: red;"
						    		ng-click="deleteOptionAtrib(valAtributo.nombre)"></span>
						    <span> {{valAtributo.nombre}} </span>
						    <span> {{valAtributo.valor}} </span>
						</label>
	                </div>

					<hr width="100%" size="10"/>

					<label>{{clientTexto.ipAddress}}</label>
					<input type="text" class="form-control" ng-model="valAddTxt" name="ipAddress"
							style="width: 160px" my-enter="createOptionIp()" 
							placeholder="Ingrese bin...Enter!!"/>

					<div class="checkbox" style="width: 790px">
	                	<label ng-repeat="valIps in selectClient.ipAddresses.ipAddresses" style="width: 195px">
						    <span class="glyphicon glyphicon-remove-circle" style="color: red;"
						    		ng-click="deleteOptionIp(valIps)"></span>
						    <span> {{valIps}} </span>
						</label>
	                </div>

					<hr width="100%" size="10"/>

					<div class="row" style="width:800px">

						<div class="col-md-3">
							<span  class="glyphicon" style="color: red;"	
									ng-show="!formulario.$pristine && 
									formulario.sixHostname.$error.required">*</span>
							<label>{{clientTexto.sixHostname}}</label>
							<input type="text" style="width: 180px" name="sixHostname" 
									class="form-control"
								 	ng-model="selectClient.sixHostname" required> 
						</div>

						<div class="col-md-3">
							<span  class="glyphicon" style="color: red;"	
									ng-show="!formulario.$pristine && 
									formulario.sixUsername.$error.required">*</span>
							<label>{{clientTexto.sixUsername}}</label>
							<input type="text" style="width: 180px" name="sixUsername" 
									class="form-control"
								 	ng-model="selectClient.sixUsername" required> 
						</div>

						<div class="col-md-3">
							<span  class="glyphicon" style="color: red;"	
									ng-show="!formulario.$pristine && 
									formulario.sixPassword.$error.required">*</span>
							<label>{{clientTexto.sixPassword}}</label>
							<input type="password" style="width: 180px" name="sixPassword" 
									class="form-control"
								 	ng-model="selectClient.sixPassword" required> 
						</div>

						<div class="col-md-3">
							<span  class="glyphicon" style="color: red;"	
									ng-show="!formulario.$pristine && 
									formulario.enabled.$error.required">*</span>
							<label>{{clientTexto.enabled}}</label>
			                <select class="form-control" style="width: 150px" name="enabled" 
			                		ng-model="selectClient.enabled" required>
							    <option ng-repeat="myEnabled in constantEnabled" value="{{myEnabled.enabled}}">
							    	{{myEnabled.enabled}}
							    </option>
				            </select>
				        </div>

					</div>

					<hr width="100%" size="10"/>

	                <label>{{clientTexto.profileId}}</label>
	                <div class="checkbox" style="width: 800px">
	                	<label ng-repeat="myProfile in listProfile" style="width: 150px"
	                			ng-model="selectClient.sixadcClientProfiles.profileId" >
					  	<input 
						    type="checkbox"
						    name="profile"
						    value="{{myProfile.profileId}}"
						    ng-checked="selectionProfile.indexOf(myProfile.profileId) > -1"
						    ng-click="getSelectionProfile(myProfile.profileId)"> {{myProfile.profileId}}
						</label>
	                </div>
	                
					<hr width="100%" size="14"/>

					<button class="btn btn-primary glyphicon glyphicon-file" ng-click="nuevo()">
					</button>
					<button class="btn btn-primary glyphicon glyphicon-floppy-disk" 
							ng-click="grabar(selectClient)" ng-disabled="!formulario.$valid">
					</button>
					<button class="btn btn-primary glyphicon glyphicon-refresh" ng-click="refrescar()">
					</button>
				</div>
			</div>

			<div class="row" ng-hide="hideAlert">
				<div class="col-md-7">
					<div class="alert alert-{{responseRestTag}}">
					  <strong>Respuesta :</strong> {{responseRest}}
					</div>
				</div>
			</div>

			<table class="table" cellspacing="0" style="width: 800px">
			    <thead>
			     	<tr>
			     		<th align="right" style="width: 30px">Num</th>
				        <th style="width: 100px">{{clientTexto.sixadcClientIdTbl}}</th>
				        <th style="width: 300px">{{clientTexto.sixadcClientDescTbl}}</th>
				        <th style="width: 100px">{{clientTexto.sixHostnameTbl}}</th>
				        <th style="width: 100px">{{clientTexto.sixUsernameTbl}}</th>
				        <th style="width: 70px">{{clientTexto.enabledTbl}}</th>
				        <th style="width: 100px">{{clientTexto.opcionActionTbl}}</th>
			      	</tr>
			    </thead>
			    <tbody>
			      	<tr class="success" ng-repeat="valueRow in clientGeneral">
				        <td>{{$index + 1}}</td>
				        <td>{{valueRow.sixadcClientId}}</td>
				        <td>{{valueRow.sixadcClientDesc}}</td>
				        <td>{{valueRow.sixHostname}}</td>
				        <td>{{valueRow.sixUsername}}</td>
				        <td>{{valueRow.enabled}}</td>
				        <td >
				        	<button class="btn btn-success btn-xs glyphicon glyphicon-pencil" 
				        			ng-click="editar(valueRow)"></button>
				        	<button class="btn btn-danger btn-xs glyphicon glyphicon-trash" 
				        			ng-click="quitar(valueRow.sixadcClientId)"></button>
				        </td>
			      	</tr>
			    </tbody>
			</table>
		</form>
	</div>
</div>
